/*-----------------------------------*\
  #style.css
  
  \*-----------------------------------*/
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /* colors */
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: rgb(38, 37, 41);
  --banner-bg: rgb(73, 71, 76);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(349, 100%, 43%, 1);
  --primary-variant: hsla(349, 69%, 51%, 1);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* gradients */
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  /* typo */

  /* font-family */
  --ff-dm-sans: 'DM Sans', sans-serif;

  /* font-size */
  --fs-heading: 3.5rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;

  /* font-weight */
  --weight-bold: 700;


  /* shadows */
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

  /* border-radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /* transition */
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
iframe,
button,
span {
  display: block;
}

img {
  height: auto;
}

input,
button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
  text-align: left;
}

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  columns: var(--on-background);
  font-size: var(--fs-body);
  line-height: 1.5;
}

:focus-visible {
  outline-color: var(--primary-variant);
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

/* loading spinner */
.search-wrapper::before,
.load-more::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading infinite 500ms linear;
  display: none;
}

.search-wrapper::before {
  position: absolute;
  top: 14px;
  right: 20px;
}

.search-wrapper.searching::before {
  display: block;
}

.load-more {
  background-color: var(--primary-variant);
  margin-inline: auto;
  margin-block: 36px 64px;
}

.load-more:is(:hover, :focus-visible) {
  --primary-variant: hsla(350, 67%, 39%, 1)
}

.load-more.loading::before {
  display: block;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}


.container::after,
.search-modal::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 0;
  background: linear-gradient(var(--bottom-overlay));
  z-index: 1;
  pointer-events: none;
}

/* typo */
.title,
.heading,
.title-large {
  font-weight: var(--weight-bold);
  letter-spacing: 0.5;
}

.title {
  font-size: var(--fs-title);
}

.heading {
  font-size: var(--fs-heading);
  color: var(--white);
  line-height: 1.2;
}

.title-large {
  font-size: var(--fs-title-lg);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meta-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-end: 12px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color);
}

.btn {
  color: var(--white);
  font-size: var(--fs-button);
  display: flex;
  width: max-content;
  gap: 12px;
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
  cursor: pointer;
}

.card-badge {
  font-size: var(--fs-label);
  color: var(--white);
  padding: 2px 4px;
  background-color: var(--on-surface-variant);
  border-radius: var(--radius-4);
  font-weight: var(--weight-bold);
}

.poster-box {
  background-image: url(/assets/images/poster-bg-icon.png);
  aspect-ratio: 2/3;
}

.poster-box,
.video-card {
  background-repeat: no-repeat;
  background-size: 50px;
  background-color: var(--banner-bg);
  background-position: center;
  border-radius: var(--radius-16);
  overflow: hidden;
}

.title-wrapper {
  margin-block-end: 32px;
}

.slider-list {
  margin-block: -20px -16px;
  overflow-x: overlay;
}

.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider-list:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.slider-list::-webkit-scrollbar-button {
  width: 20px;
}

.slider-list .slider-inner {
  position: relative;
  display: flex;
  padding-block-start: 8px;
}

.slider-list .slider-inner::before,
.slider-list .slider-inner::after {
  content: "";
  min-width: 4px;
}

.separator {
  width: 4px;
  height: 4px;
  background-color: var(--white-alpha-20);
  border-radius: var(--radius-8);

}

.video-card {
  background-image: url('../images/video-bg-icon.png');
  aspect-ratio: 16/9;
  flex-shrink: 0;
  min-width: 400px;
  height: 100%;
  width: calc(100%-40px);
  margin-inline-end: 24px;

}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--background);
}

.header {
  position: relative;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header .logo {
  margin-inline-end: auto;
}

.search-btn,
.menu-btn {
  padding: 12px;
}

/* search-btn */
.search-btn {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

.search-btn img {
  opacity: 0.5;
  transition: var(--transition-short);
}

.search-btn:is(:focus-visible, :hover) img {
  opacity: 1;
}

/* menu-btn */
.menu-btn.active .menu,
.menu-btn .close {
  display: none;
}

.menu-btn .menu,
.menu-btn.active .close {
  display: block;
}

/* search-box */
.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  z-index: 1;
  display: none;
}

.search-box.active {

  display: flex;
}

.search-wrapper {
  position: relative;
  flex-grow: 1;
}

input.search-field {
  color: var(--white);
}

.search-field {
  background-color: var(--banner-background);
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

.search-field::placeholder {
  color: var(--on-surface-variant);
}

.search-field:hover {
  box-shadow: 0 0 0 2px var(--on-surface-variant);
}

.search-field:focus-visible {
  box-shadow: 0 0 0 2px var(--on-surface-variant);
  padding-inline-start: 16px;
}

.search-wrapper .leading-icon {
  position: absolute;
  top: 25%;
  left: 10px;
  opacity: 0.5;
  transition: var(--transition-short);
}

.search-wrapper:focus-within .leading-icon {
  opacity: 0;
}




/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/
.sidebar {
  position: absolute;
  top: 80px;
  left: -340px;
  bottom: 0;
  max-width: 340px;
  width: 100%;
  background-color: var(--background);
  border-block-start: 1px solid var(--on-surface-variant);
  overflow-y: overlay;
  z-index: 4;
  visibility: hidden;
  transition: var(--transition-long);
}

.sidebar.active {
  transform: translateX(340px);
  visibility: visible;
}

.sidebar-inner {
  display: grid;
  gap: 20px;
  padding-block: 36px;
}

.sidebar-list,
.sidebar-footer {
  padding-inline-start: 36px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar:is(:hover, :focus-visible)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.sidebar::-webkit-scrollbar-button {
  height: 16px;
}

.sidebar-list {
  display: grid;
  gap: 8px;
}

.sidebar-list .title {
  margin-block-end: 8px;
}

.sidebar-link {
  color: var(--on-surface-variant);
}

.sidebar-link:is(:focus-visible, :hover) {
  color: var(--on-background);
}

/* sidebar footer */
.sidebar-footer {
  border-block-start: 1px solid var(--on-surface-variant);
  padding-block-start: 16px;
}

.copyright p {
  letter-spacing: 0.5px;
  color: var(--on-surface-variant);
  transition: var(--transition-short);
}

.sidebar-footer img {
  margin-block: 16px;
}

.copyright p:is(:focus-visible, :hover) {
  color: var(--on-background);
}

/* overlay */
.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--banner-overlay);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 3;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/*-----------------------------------*\
  #HOME PAGE
\*-----------------------------------*/

.container {
  position: relative;
  background-color: var(--banner-background);
  color: var(--on-surface);
  height: calc(100vh-96px);
  padding: 24px 20px 48px;
  overflow-y: overlay;
  z-index: 1;
  padding-block-start: 100px;
}


.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}


/* banner */
.banner {
  position: relative;
  height: 700px;
  border-radius: var(--radius-24);
  overflow: hidden;
}

.banner-slider .slider-item {
  position: absolute;
  top: 0;
  left: 120%;
  width: 100%;
  height: 100%;
  background-color: var(--banner-background);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-long);
}

.banner-slider .slider-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--banner-overlay));
}

.banner-slider .slider-item.active {
  opacity: 1;
  left: 0;
  visibility: visible;
}

/* banner-content */
.banner-content {
  position: absolute;
  left: 16px;
  top: 10%;
  bottom: 206px;
  z-index: 1;
}

.banner:is(.heading, .banner-text) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner .heading {
  -webkit-line-clamp: 3;
  margin-block-end: 16px;
}



.genre,
.banner-text {
  color: var(--text-color);
}

.genre {
  margin-block-end: 12px;
}

.banner-text {
  height: 6em;
  overflow: hidden;
  -webkit-line-clamp: 4;
  margin-block: 24px;
  text-overflow: ellipsis;

}

.banner-content .btn {
  background-color: var(--primary);
}

.banner .btn:is(:focus-visible, :focus) {
  box-shadow: var(--shadow-2);
}


/* slider-control */
.slider-control {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 0;
  border-radius: var(--radius-16) 0 0 var(--radius-16);
  user-select: none;
  padding: 4px 0 4px 4px;
  overflow-x: auto;
}

.slider-control::-webkit-scrollbar {
  display: none;
}


.control-inner {
  display: flex;
  gap: 12px;
}

.slider-control::after {
  content: "";
  min-width: 12px;
}


.slider-control .slider-item {
  width: 100px;
  border-radius: var(--radius-8);
  flex-shrink: 0;
  filter: brightness(0.5);
}

.slider-item.active {
  filter: brightness(1);
  box-shadow: var(--shadow-1);
}

/* movie-list */
.movie-list {
  padding-block: 32px;
}

.movie-card {
  position: relative;
  padding-inline-end: 16px;
  min-width: 200px;
  margin-right: 24px;
}

.movie-card .card-banner {
  width: 100%;
}

.movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 8px 4px;
}

.movie-card .meta-list {
  justify-content: space-between;
}

.movie-card .card-btn {
  position: absolute;
  inset: 0;
}



/*-----------------------------------*\
  #DETAIL PAGE
\*-----------------------------------*/

/* backdrop-image */
.backdrop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.backdrop-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, hsla(250, 13%, 11%, 1), hsla(250, 13%, 11%, 0.9));
}

.movie-detail .movie-poster {
  max-width: 300px;
  width: 100%;
}

.movie-detail .heading {
  margin-block: 24px 12px;
}

.movie-detail:is(.movie-list, .genre) {
  color: var(--text-color);
}

.movie-detail .genre {
  margin-block: 12px 16px;
}

.detail-list {
  margin-block: 24px 32px;
}

.movie-detail .list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-block-end: 12px;
}

.movie-detail .list-name {
  color: var(--text-color);
  min-width: 112px;
}

/*-----------------------------------*\
  #MOVIE LIST PAGE
\*-----------------------------------*/
.genre-list .title-wrapper {
  margin-block: 12px 32px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

:is(.genre-list, .movie-list) :is(.movie-card, .card-banner) {
  width: 100%;
  margin-inline: auto;
}




/*-----------------------------------*\
  #SEARCH MODAL
\*-----------------------------------*/

.search-modal {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: var(--surface);
  padding: 32px;
  overflow-y: overlay;
  z-index: 4;
  display: none;
}

.search-modal.active {
  display: block;
}

.search-modal .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-block-end: 8px
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/